@model Project_BerrrasBio.Models.Booking



<h1>Not enought room for @Model.NumOfSeats seats in the salon</h1>
<p>Please check so the show have enoguht seats available left for your booking or wait untill the next show on The movie</p>

 <a  asp-route-id="" asp-controller="Shows" asp-action="Index" class="btn btn-outline-primary" role="button">Go Back</a>

