@model Project_BerrrasBio.Models.Booking

<h1>BOOKING CONFORMATION</h1>
<p>Booking ID : @Model.Id</p>
<p>Seats reserveration : @Model.NumOfSeats Seats</p>
<p>Show ID : @Model.ShowId</p>
<p>TotalPrice = @Model.TotalPrice</p>


 <a  asp-route-id="" asp-controller="Shows" asp-action="Index" class="btn btn-outline-primary" role="button">Back</a>

